@charset:"utf-8";

body, h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding:0;
} 
ul, li, dl, dt, dd{
    margin:0;
    padding:0;
    list-style: none;
}
img{
    border:0;
}
a{
    text-decoration: none;
    color:#000;
}

.inner{
    width:1200px;
    margin:0 auto;
}
.inner1160{
    width:1160px;
    margin:0 auto;
}
.inner1000{
    width:1000px;
    margin:0 auto;
}
.inner900{
    width:900px;
    margin:0 auto;
}
.cf:after{
    content: "";
    display:block;
    clear:both;
}
.m_inner{
    width:auto;
    margin:0 5%;
}

body{
    font-family: 'NotoSans', 'GothamPro', sans-serif;
    min-width:1200px;
}



