@charset:"utf-8";

#wrap{}

/*headerSTART*/
#header{}

.mainVisual{
    background:url(../images/porfol2_01.png) no-repeat;
    background-position:center center;
    background-size:cover;
    padding:185px 10% 230px 0;
}
.main{
    font-family: 'GothamPro';
    color:#fff;
    width:400px;
    height: 320px;
    background-color:rgba(24,77,127,0.6);
    border:3px solid #fff;
    text-align:right;
    float:right;
}
.main h1{
    font-size:70px;
    margin:60px 30px 30px 0;
}
.main p{
    font-size:30px;
    font-weight: 100;
    margin: 10px 30px;
}

.mainS{
    width:400px;
    height:80px;
    background-color:#fff;
    margin-top:50px;
    margin-left:-3px;
    text-align:center;
    color:#0f4c81;
    border:3px solid #fff;
}
.mainS span{
    line-height:80px;
    font-weight: 100;
    font-size: 34px;
}

/*gnb*/
.gnb{
    background:#fffae0;
    z-index: 1000;
}

.gnb .inner1160{}
.gnb h1{
    padding:30px 0;
}
.gnb h1 a{
    display:block;
    width: 152px;
    height: 80px;
}
.gnb h1 a img{
    display:block;
}

.gnb ul{
    font-family: 'GothamPro';
    text-align: right;
    margin-top:-50px;
    padding-bottom: 35px;
}
.gnb ul li{
    display:inline-block;
    margin:0 20px;
}
.gnb ul li a{
    color:#0f4c81;
    font-weight: 200;
}

.gnbFixed{
    position:fixed;
    top:0;
    width:100%;
    background-color:rgba(255,250,224,0);
}
.gnbFixed h1{
    width:27px;
    height: 20px;
    position:absolute;
    top:210px;
    right:6%;
}
.gnbFixed h1 a{
    display:block;
    height: 100%;
    width:100%;
}
.gnbFixed h1 a img{
    display:block;
    background-color:#fff;
    padding:1px;
    width:20px;
    margin:0 auto;   
}
.gnbFixed h1 a:hover img{
    background-color:#000;
}
.gnbFixed ul{
    position:absolute;
    right:5%;
    top:300px;
}
.gnbFixed ul li{
    display:block;
    margin-top:30px;
}
.gnbFixed ul li p{
    display:none;
}
.gnbFixed ul li span{
    display:block;
    width:10px;
    height: 10px;
    background-color:#0f4c81;
    border:1px solid #fff;
    transform:rotate(45deg);
}
.gnbFixed ul li a{
    display:block;
}
.gnbFixed ul li a:hover span{
    background-color:#000;
    transform:rotate(180deg);
}



/*gnb*/
/*headerEND*/


/*containerSTART*/
#container{}

/*intro/IAM*/
#iam{
    padding-top:150px;
    font-family: 'GothamPro';
}
#iam h2{
    display:block;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 40px;
}

.history{
    display: inline-block;
    background:#fff8d7;
    width:49%;
    height: 380px;
    overflow: hidden;
}
.history h3{
    display: block;
    margin:40px 0 20px 0;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
}

.his_txt{
    margin:40px 0;
    margin-left:30px;
    font-size:15px;
    font-weight: 200;
}
.his_txt img{
    display:inline-block;
}
.his_txt .imgp2{
    margin-bottom: 20px;
}
.his_txt p{
    display:inline-block;
    margin-left:10px;
    margin-bottom: 3px;
}
.his_txt span{
    display:block;
    margin-left:10px;
}

.intro{
    display: inline-block;
    width:49%;
    height: 380px;
    overflow: hidden;   
}
.intro p{
    font-size:16px;
    margin-bottom: 25px;
    line-height: 30px;
    margin-left:20px;
    font-weight: 200;
    font-family: 'NotoSans-Regular';
}
.intro .intro1{
    margin-top:30px;
}
/*intro/IAM*/

/*portfolio*/
#portfolio{
    padding-top:150px;
    text-align: center;
    font-family: 'GothamPro';
    
}
#portfolio .inner1160{}

.line{
    width:600px;
    height: 1px;
    background-color:#0f4c81;
    display: block;
    margin:0 auto;
    margin-bottom:50px; 
}
#portfolio h2{
    margin-top:130px;
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 40px;
}

.webD{
    text-align: center;
}
.webD h3{
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 70px;
}

.webBox1{
    background:url(../images/porfol2_41.png) no-repeat;
    background-size:cover;
    background-position:center center;
}
.webBox2{
    background:url(../images/porfol2_25.png) no-repeat;
    background-size:cover;
    background-position:center center;
}
.webBox3{
    background:url(../images/porfol2_39.png) no-repeat;
    background-size:cover;
    background-position:center center;
}
.webBox4{
    background:url(../images/porfol2_62.png) no-repeat;
    background-size:cover;
    background-position:center center;
}

.webBox{
    position:relative;
    display:block;
    margin:0 auto;
}
.webBox a{
    display: block;
}
.webBox a img{
    display: block;
    margin:60px 0;
    margin-left:50px;
}

.web_txt{
    display:block;
    color:#fff;
    width:500px;
    height: 220px;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:120px;
    right:120px;
}
.web_txt h4{
    margin-top:50px;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
}
.web_txt p{
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 10px;
}


.navWEB{
    width:410px;
    margin-top:20px;
}
.navWD{
    float:left;
    width:120px;
}
.navWD img{
    width:120px;
    height: 120px;
    display: block;
}
.navWEB .slick-dots{
    bottom:-40px;
    width:240px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.navWEB .slick-dots li{
    display: inline-block;
}
.navWEB .slick-dots li button{
    background:url(../images/porfol2_121.png) no-repeat;
}
.navWEB .slick-dots li button:before{
    content:'';
}


/*banner*/
.bannerD{
    text-align: center;
}
.bannerD h3{
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 70px;
    margin-top:100px;
}

.banD{
    margin-bottom: 15px;
}
.banD li{
    display:inline-block;
}
.banL{
    margin-right:3px;
}
.banR{
    margin-left:3px;
}
.banD li img{
    display:block;
}

.hiddenBD{
    display:none;
    margin-top:50px;
}
.hiddenBD.on{
    display:block;
}

.Dif_banD{}
.dif_ban1{}
.dif_ban2{}

#ban_btn{
    width:60px;
    height: 60px;
    margin:0 auto;
    padding:10px 0;
    text-align: center;
    
}
#ban_btn button{
    border-radius: 50%;
    background-color:#0f4c81;
    display: block;
    width:100%;
    height: 100%;
    border:0;
}
#ban_btn button img{
    display:block;
    margin:0 auto;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
}
 
@keyframes swing {
    0% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg);
    }
}


/*banner*/

/*poster*/
.posterD{
    text-align: center;
    font-family: 'GothamPro';
}
.posterD h3{
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 70px;
    margin-top:100px;
}
.posterD ul{}
.posterD ul li{
    float:left;
    margin-right:20px;
}
.posterD ul li:last-child{
    margin-right:0;
}
.posterD ul li img{
    display: block;
    box-shadow: 4px 4px 5px #999;
}
/*poster*/

/*art*/
.artD{
    text-align: center;
    font-family: 'GothamPro';
}
.artD h3{
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 70px;
    margin-top: 100px;
}
.art{
    background-color: #0f4c81;
    height: 800px;
    background-size: cover;
    padding-top:40px;
}
.artIMG{
    width:1080px;
    height: 650px;
    display: block;
    background-color:#000;
}

.artIMG .slick-dots{
    bottom:-40px;
    width:240px;
    right:0;
}
.artIMG .slick-dots li{
    display: inline-block;
}
.artIMG .slick-dots li button{
    background:url(../images/porfol2_120.png) no-repeat;
}
.artIMG .slick-dots li button:before{
    content:'';
}

/*art*/
/*portfolio*/

/*contact*/
.contact{
    background-color:#fff8d7;
    font-family: 'GothamPro';
    background-size:cover;
}
.contact h3{
    display: block;
    text-align: center;
    padding-top:100px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 40px;
}
.cont_txt{
    text-align: center;
}
.cont_txt h4{
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.cont_txt p{
    font-size:15px;
    font-weight: 200;
    padding-bottom: 60px;
}
.cont_txt p.cont_txt_last{
    padding-bottom: 100px;
}

/*contact*/

/*containerEND*/

/*footer*/
#footer{
    background-color: #0f4c81;
    background-size:cover;
}
#footer p{
    font-family: 'GothamPro';
    text-align: right;
    color:#fffdf2;
    font-weight: 100;
    font-size:14px;
    padding:50px 3px 20px 0;
}
/*footer*/







